<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ExaMapper">
	<!-- 查询所有考试 -->
	<select id="selectExa" resultType="Exa">
		SELECT * FROM exa;
	</select>
	<!-- 添加考试信息 -->
	<insert id="AddExa" parameterType="Exa">
		<selectKey keyProperty="exaid" order="AFTER"
			resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO `exa` SET
		exaname=#{exaname},exatime=#{exatime},exadata=#{exadata},exacla=#{exacla},exarem=#{exarem},exasub=#{exasub};
	</insert>
	<!-- 删除信息 -->
	<delete id="deleteExa" parameterType="int">
		DELETE FROM `exa` WHERE
		exaid=#{exaid}

	</delete>
</mapper>